.App{
  display: inline-flex;

}

.flex-container {

  display: flex;
  flex-wrap:wrap;
  flex-direction:row;
  background-color: DodgerBlue;
  width: 600px;
  margin: 100px 30px;
  justify-content:center;
}
.broj{
  background-color: #f1f1f1;
  width: 50px;
  margin: 10px;
  text-align: center;
  line-height: 55px;
  font-size: 30px;
  border-radius:50%;
  justify-content:center;
  color:white;
  font-weight:bold;
  
}

.arr{
  background-color: red;
  width: 50px;
  margin: 10px;
  text-align: center;
  line-height: 55px;
  font-size: 30px;
  border-radius:50%;
  justify-content:center;
  color:red;
  font-weight:bold;
  
}